---
title: Home
---
<% published_sorted_articles.first(number_of_front_page_posts()).each_with_index do |post, index| %>

<section>
	<header class="major">
		<h4><%= get_pretty_date(post) %></h4>
		<h2><%= link_to post[:title], post.path %></h2>
	</header>
	<article>
		<%= render 'audioblog_link_header', {:item => post} %>
		<%= get_post_start(post) %>
		<hr />
	</article>
</section>

<% end %>

<section>
	<div class="container">
		<h4 class="more-posts-link-footer"><a href="/blog/archives/#front-page-cutoff">Older Posts →</a></h4>
	</div>
</section>