@import 'mixins';

body {
	position:relative;
}

#header ul.icons {
	margin-top: 1em;
}

#header {
	position: absolute;
	top: 0;
	bottom: 0;
}

p.center {
	text-align: center;
}

p.right {
	float: right;
}

p.left {
	float: left;
}

p.left img {
	padding-right: 10px;
	padding-bottom: 10px;
}

article img {
	border: 10px solid white;
	box-shadow: 0px 0px 2px 1px #ccc;
}

article img.no-border {
	border: none;
	box-shadow: none;
}

article p.no-border img {
	border: none;
	box-shadow: none;
}

article img {
	max-width:100%;
	max-height:auto;
}

article li {
	margin-left: 20px;
}

article iframe {
	margin: auto;
}

article blockquote p:last-child {
	margin-bottom: 0px;
}