@import 'vars';
@import 'mixins';

body {
	position:relative;
}

#header ul.icons {
	margin-top: 1em;
}

#header ul.icons a {
	color: #fff;
}

#header {
	position: absolute;
	top: 0;
	bottom: 0;
}

#header p a {
	border-bottom: solid 1px #d7bfbf;
}

#header ul.icons {
	margin-bottom: 0px;
}

#footer {
	background: none;
	color: $color-fg-light;
}

.inline-icon {
	color: $color-accent-fg;
	padding-left: 0.5em;
	padding-right: 0.25em;
}

.archive-header {
	color: $color-accent-bg;
}

.archive-postdetails {
	color: $color-fg-subtle;
}

li.archive-post {
	padding-bottom: 1em !important;
}

.archive-postname {
	font-size: 1.5em;
}

article p > a {
	border-bottom: none;
	color: inherit;
	text-decoration: underline;
}

p.center {
	text-align: center;
}

p.right {
	float: right;
}

p.right img {
	margin-left: 20px;
	margin-bottom: 10px;
}

p.left {
	float: left;
}

p.left img {
	margin-right: 20px;
	margin-bottom: 10px;
}

article img {
	border: 10px solid white;
	box-shadow: 0px 0px 2px 1px #ccc;
}

article .tight-border img {
	border: 0px solid white;
}

article img.tight-border {
	border: 0px solid white;
}

article img.no-border {
	border: none;
	box-shadow: none;
}

article p.no-border img {
	border: none;
	box-shadow: none;
}

article img {
	max-width:100%;
	max-height:auto;
}

article video {
	max-width: 100%;
	max-height: auto;
}

article li {
	margin-left: 10px;
}

article iframe {
	margin-left: auto !important;
	margin-right: auto !important;
	display: block !important;
}

iframe.twitter-tweet-rendered {
	margin-bottom: 40px !important;
}

article blockquote p:last-child {
	margin-bottom: 0px;
}

article video {
	display: block;
}

article video.center {
	margin: auto;
}

div.video-container {
    position: relative;
    width: 100%;
	margin: auto;
	overflow: hidden;
}

div.iframe-16x9-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 57%;
}

iframe.iframe-16x9 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

table.audioblog-icons {
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

table.audioblog-icons tr {
	background-color: transparent !important;
	border: 0px !important;
}

table.audioblog-icons td {
	width: 20%;
	padding: 0;
}

table.audioblog-icons img {
	border: 0;
	box-shadow: none;
}

a.audioblog-img-link, a.audioblog-img-link:active, a.audioblog-img-link:hover, a.audioblog-img-link:visited, a.audioblog-img-link:link {
	text-decoration: none;
	border-bottom: 0;
}

article hr {
	border: 0;
	width: 80%;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), $color-fg-light, rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), $color-fg-light, rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), $color-fg-light, rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), $color-fg-light, rgba(0,0,0,0)); 
}

article code {
	color: $color-fg-bold;
	background: #fff;
	border: 1px solid #ccc;
	word-wrap: break-word;
}

article thead {
	font-weight: 700;
}

article tr th {
	border: solid 2px $color-border2;
	border-top: none;
}

article tbody tr:first-child th {
	border-top: solid 2px $color-border2;
}

.more-posts-link-footer {
	text-align: center;
	color: $color-accent-bg;
}

.next-post-link {
	float: right;
}

.previous-post-link {
	float: left;
}

a.no-underline, a.no-underline :hover {
	text-decoration: none;
}

div.footnotes::before {
	content: "Footnotes";
	font-size: 1.25em;
	font-weight: $font-weight-bold;
	line-height: 1em;
	margin: 0 0 ($size-element-margin * 0.25) 0;
	display: block;
}

/* Mobile */

@media screen and (max-width: 960px) { 
	#main > section .container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	#footer > .container {
		width: 100%;
	}
}

#header #nav b, strong {
	color: white;
}

.container {
	width: 50em;
}

@media screen and (min-width: 1201px) {
	#header #nav li.hide-on-desktop {
		display: none;
	}
}

@media screen and (max-width: 1200px) {
	
	body {
		background-color: $color-accent-bg;
	}
	
    #header {
        position: relative;
    }

    #one::before {
    	// Header image
		display: none;
	}

	#header #nav {
		margin-bottom: 20px;
	}

	#header #nav ul {
		display: inline;
		list-style-type: none;
	}

	#header #nav li {
		display: inline;
		border-top: none;
		border-left: solid $size-border-width $color-header-border;
	}

	#header #nav ul li:first-child {
		border-left: none;
	}

	#header #nav li a {
		display: inline;
		padding-left: 20px;
		padding-right: 20px;
	}

	#header > header .avatar {
		margin-bottom: 10px;
	}

	#header > header p {
		display: inline;
	}

	#header #nav li.hide-on-mobile {
		display: none;
	}
	
	#header #nav li.stack-on-mobile {
		display: block;
		width: 100%;
		margin: auto;
		margin-top: 16px;
		padding-top: 15px;
		border-top: solid $size-border-width $color-header-border;
		border-left: none;
	}
}


/* Code highlighting */

.hll { background-color: #ffffcc }
.c { color: #999988; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #000000; font-weight: bold } /* Keyword */
.o { color: #000000; font-weight: bold } /* Operator */
.cm { color: #999988; font-style: italic } /* Comment.Multiline */
.cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: #999988; font-style: italic } /* Comment.Single */
.cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { color: #000000; font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #999999 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #d01040 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #990000; font-weight: bold } /* Name.Function */
.nl { color: #990000; font-weight: bold } /* Name.Label */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.ow { color: #000000; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #d01040 } /* Literal.String.Backtick */
.sc { color: #d01040 } /* Literal.String.Char */
.sd { color: #d01040 } /* Literal.String.Doc */
.s2 { color: #d01040 } /* Literal.String.Double */
.se { color: #d01040 } /* Literal.String.Escape */
.sh { color: #d01040 } /* Literal.String.Heredoc */
.si { color: #d01040 } /* Literal.String.Interpol */
.sx { color: #d01040 } /* Literal.String.Other */
.sr { color: #009926 } /* Literal.String.Regex */
.s1 { color: #d01040 } /* Literal.String.Single */
.ss { color: #990073 } /* Literal.String.Symbol */
.bp { color: #999999 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */

