<% if has_audioblog(item) %>
	<p>This post is included in the iKennd.ac Audioblog! Want to listen to this blog post? Subscribe to the audioblog in your favourite podcast app!</p>
	<table class="audioblog-icons">
	<tr>
		<td><a class="audioblog-img-link" href="https://itunes.apple.com/se/podcast/the-ikennd-ac-audioblog/id1447525751?l=en&mt=2"><img src="/pictures/apple_podcasts.png" width="40" height="40"></a></td>
		<td><a class="audioblog-img-link" href="https://overcast.fm/itunes1447525751"><img src="/pictures/overcast.png" width="40" height="40"></a></td>
		<td><a class="audioblog-img-link" href="https://castro.fm/itunes/1447525751"><img src="/pictures/castro.png" width="40" height="40"></a></td>
		<td><a class="audioblog-img-link" href="https://pca.st/iXjj"><img src="/pictures/pocket_casts.png" width="40" height="40"></a></td>
		<td><a class="audioblog-img-link" href="/audioblog.xml"><img src="/pictures/rss.png" width="40" height="40"></a></td>
	</tr>
	<tr class="audioblog-link-text-row">
		<td><a href="https://itunes.apple.com/se/podcast/the-ikennd-ac-audioblog/id1447525751?l=en&mt=2">Apple Podcasts</a></td>
		<td><a href="https://overcast.fm/itunes1447525751">Overcast</a></td>
		<td><a href="https://castro.fm/itunes/1447525751">Castro</a></td>
		<td><a href="https://pca.st/iXjj">Pocket Casts</a></td>
		<td><a href="/audioblog.xml">Direct Feed</a></td>
	</tr>
	</table> 
	<hr />
<% end %>